.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5vh;
  border-radius: 20px;
  width: 80%;
  height: 850px;
  background-color: rgb(245, 245, 245, .5255);
  overflow: hidden;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.Content {

}

.title {
  width: 100%;
  margin-top: 10px;
  
  font-size: 4vh;
  font-weight: bold;
}

.Text {

}